*{
    margin:0;
    padding:0;
}
.Main-body{
    max-width:1600px;
    width:100%;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 16px 200px;
    background-color: #1A0B2E;
    overflow: hidden;
}

.logo img{
    max-width:219px;
}
.list-container{
    display: flex;
    gap:32px;
    list-style:none;
}
.list-area a{
    text-decoration:none;
    color:white;
}
/* button styles */
.nav-btn{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:8px 16px;
    color: white;
    border:none;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius:1000px;
    cursor:pointer;
}
.nav-btn:focus{
    outline:none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    

}
.nav-btn:hover{
    box-shadow: 0 0 10px rgb(0, 47, 255);
}
.nav-btn img{
    max-width:20px;
    width:100%;

}
/* container styles */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url(../images/hero-bg.png) no-repeat center;
    background-size: cover;
    height: 760px;
}
.img-container img.circle{
    position:relative;
    left:60px;
    top:-50px;
    /* max-width:300px;
    width:100%; */
}
.img-container img.microphone{
    position:relative;
    left:-175px;
    top:-140px;
    /* max-width:300px;
    width:100%; */
}
 /* .new-text{

    color: black;
    position:relative;
    right:130px;
    top:-20px;
} */
 .text-container{
    text-align: center;
    color: white;
    border:1px solid white;
    margin: 0 auto;
    padding: 20px;
 }
 .text-container p{
    padding-bottom:12px;
 }
.text-container img,p{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
 }
 .text-container button.spotify, .message{
    max-width:20px;
    width:100%;
 }