*{
    margin:0;
    padding:0;
}
.Main-body{
    max-width:1600px;
    width:100%;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 16px 200px;
    background-color: #1A0B2E;
    overflow: hidden;
}

.logo img{
    max-width:219px;
}
.list-container{
    display: flex;
    gap:32px;
    list-style:none;
}
.list-area a{
    text-decoration:none;
    color:white;
}
/* button styles */
.nav-btn, .spotify{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:8px 16px;
    gap:8px;
    color: white;
    border:none;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius:1000px;
    cursor:pointer;
}
.menu-icon{
    display:none;
}
.message{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:8px 16px;
    gap:8px;
    color: #00FF88;
    border: 1px solid #00FF88;
    background: transparent;
    border-radius:1000px;
    cursor:pointer;
}

.nav-btn:focus{
    outline:none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    

}
.nav-btn:hover{
    box-shadow: 0 0 10px rgb(0, 47, 255);
}
.nav-btn img{
    max-width:20px;
    width:100%;

}
.hero-btn{
    display:flex;
    gap:16px;
    justify-content:center;
    align-items:center;
    margin-top:20px;
}
/* container styles */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url(../images/hero-bg.png) no-repeat center;
    background-size: cover;
    height: 760px;
}
.img-container img.circle{
    position:relative;
    left:60px;
    top:-50px;
    /* max-width:300px;
    width:100%; */
}
.img-container img.microphone{
    position:relative;
    left:-175px;
    top:-140px;
    /* max-width:300px;
    width:100%; */
}
 /* .new-text{

    color: black;
    position:relative;
    right:130px;
    top:-20px;
} */
 .text-container{
    text-align: center;
    color: white;
    border:none;
    margin: 0 auto;
    padding: 20px;
 }
 .text-container h2{
    font-size: 3.25rem;
 }
 .text-container p{
    font-size: 1rem;
    padding-bottom:12px;
    
 }
.text-container img,p{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
 }
  /* button.spotify, .message{
    max-width:20px;
    width:100%;
 } */

/* second container styles */
.second-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A0B2E;
    height: 400px;
    padding-left:200px;
    padding-right:200px;
    /* border: 1px solid white; */
}
.about-container{
    margin: 0 auto;
    /* border: 1px solid white; */
}
.text-zone{
    color:white;
    text-align: center;
}
.text-zone h2{
    font-size:3.25rem;
    font-weight: bold;
    padding-bottom:16px;
}
.text-zone p{
    font-size:1rem;
    line-height:20px;
}
.p-one{
    padding-bottom:25px;
}
.Number-zone{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap:40px;
    text-align:center;
    
}
.Number-zone h2{
    font-size: 2.70rem;
    font-weight: bold;
    color: #00FF88;
    padding-top:160px;
}
.Number-zone p{
    font-size: 1rem;
    font-weight: 200;
    color: white;
    padding-top:10px;
}


/* Responsive styles */
@media screen and (max-width:448px) {
    .navbar{
        padding: 16px 20px;
    }
    .list-container{
        gap: 16px;
        display: none;
    }
    .about-container{
        margin-top:10px;
    }
    .second-container{
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: #1A0B2E;
        padding-left:20px;
        padding-right:20px;
        height: auto;
    }
    .Number-zone{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align:center;
        background-color: #1A0B2E;
        padding-top: 0px;
        gap: 20px;
        margin: 0 auto;
    }
    .Number-zone p{
    font-size: 0.75rem;
    font-weight: 200;
    color: white;
    padding-top:10px;
}

    .text-container h2{
        font-size: 2.50rem;
    }
    .text-zone h2{
        font-size: 2rem;
    }
    .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url(../images/hero-bg.png) no-repeat center;
    background-size: cover;
    height: 760px;
}
.img-container img.microphone{
    position:relative;
    left:150px;
    top:-200px;
    /* max-width:300px;
    width:100%; */
}
.img-container img.circle{
    position:relative;
    left:30px;
    top:60px;
    /* max-width:300px;
    width:100%; */
}
.nav-btn{
    display:none;
}
.menu-icon{
    display:flex;
}
}